rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Regla global para permitir a los administradores leer cualquier dato
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Los usuarios pueden leer y escribir en su propio documento de usuario.
    match /users/{userId} {
      allow read, update: if request.auth.uid == userId || isAdmin();
      allow create: if request.auth.uid == userId;
    }

    // Los usuarios pueden gestionar sus propios proyectos.
    match /projects/{projectId} {
      allow get, update, delete: if resource.data.ownerId == request.auth.uid || isAdmin();
      allow list: if request.auth.uid == request.query.resource.data.ownerId || isAdmin();
      allow create: if request.resource.data.ownerId == request.auth.uid;
    }
    
    // Los usuarios pueden gestionar sus propias tareas.
    // La lectura/listado también se permite si el usuario es el 'assigneeId'.
    match /tasks/{taskId} {
      allow get: if resource.data.ownerId == request.auth.uid || resource.data.assigneeId == request.auth.uid || isAdmin();
      allow list: if request.auth.uid == request.query.resource.data.ownerId || isAdmin();
      allow create: if request.resource.data.ownerId == request.auth.uid;
      allow update, delete: if resource.data.ownerId == request.auth.uid || isAdmin();
    }

    // Los usuarios pueden gestionar sus propios documentos (facturas, presupuestos, etc).
    match /invoices/{invoiceId} {
      allow get, update, delete: if resource.data.ownerId == request.auth.uid || isAdmin();
      allow list: if request.auth.uid == request.query.resource.data.ownerId || isAdmin();
      allow create: if request.resource.data.ownerId == request.auth.uid;
    }
    
    // Los usuarios pueden gestionar sus propios gastos.
    match /expenses/{expenseId} {
        allow get, update, delete: if resource.data.ownerId == request.auth.uid || isAdmin();
        allow list: if request.auth.uid == request.query.resource.data.ownerId || isAdmin();
        allow create: if request.resource.data.ownerId == request.auth.uid;
    }
    
    // Los usuarios pueden gestionar sus propios contactos.
    match /contacts/{contactId} {
        allow get, update, delete: if resource.data.ownerId == request.auth.uid || isAdmin();
        allow list: if request.auth.uid == request.query.resource.data.ownerId || isAdmin();
        allow create: if request.resource.data.ownerId == request.auth.uid;
    }

  }
}