
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Reglas para los avatares de usuario
    match /avatars/{userId}/{allPaths=**} {
      // Permite que cualquiera pueda leer las imágenes (necesario para mostrarlas públicamente)
      allow read;
      // Solo permite escribir (subir, actualizar, borrar) si el usuario está autenticado
      // y el ID del usuario coincide con el de la carpeta.
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Reglas para los logos de empresa
    match /company-logos/{userId}/{allPaths=**} {
      // Permite que cualquiera pueda leer las imágenes
      allow read;
      // Solo permite escribir si el usuario está autenticado y es el dueño de esa carpeta
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
